- content_for :body do
	.container
		%h1 Welcome to Hermione

		= link_to "Box", box_path
		%br 
		= link_to 'YouTube', youtube_path
		%br
		= link_to 'Dashboard', process_path
		%br
		= link_to "Drive", drive_path 
